.Join {
    display: flex;
    gap: 10rem;
    padding: 0 2rem;
}

.left-j {
    gap: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.left-j > hr {
    width: 10.5rem;
    border: 2px solid var(--orange);
    position: absolute;
    border-radius: 20%;
    margin: -10px 0;
}

.left-j > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right-j {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.email-container {
    display: flex;
    gap: 3rem;
    background-color: gray;
    padding: 1.5rem;
    width: 22rem;
    justify-content: space-evenly;
}

.email-container > input {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
}

.email-container > input::placeholder {
    color: whitesmoke;
    font-size: 0.9rem;
}

.btn-j {
    background-color: var(--orange);
    color: white;
}

@media screen and (max-width: 768px) {
    .Join {
        flex-direction: column;
        gap: 1rem;
    }

    .left-j > div > span {
        font-size: xx-large;
    }
}